.check_box {    
    display: block;  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .check_box:checked {
    text-align: center;
    background-color: #4CAF50;
    color: rgb(0, 255, 34);
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }