.Welcome button {
  border: none;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url('hero-image.jpg') no-repeat center center/cover;
  height: auto;
  text-align: center;
  align-items: center;
  padding-top: 80px;
  z-index: 1;
}

/* .leftWelcome {
  display: block;
  justify-content: center;
  width: fit-content;
} */

/* .leftWelcome h2, p {
  background-color: antiquewhite;
  /* margin: 0 auto; 
} */