.waveContainer {
    position: absolute;
    top: 100px;              
    left: 0;
    width: 100%;          
    height: 100px;        
    overflow: hidden;     
    pointer-events: none;  
    z-index: 0;
  }
  
  
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;           
    height: 100px;
    animation: moveWave 12s ease-in-out infinite; 
    opacity: 0.7;
    pointer-events: none; 
  }
  
  
  .wave1 { animation-delay: 0s; }
  .wave2 { animation-delay: 2s; }
  .wave3 { animation-delay: 4s; }
  .wave4 { animation-delay: 6s; }
  
  
  @keyframes moveWave {
    0% {
        transform: translateX(0);   
    }
    50% {
      transform: translateX(-50%); 
  }
    100% {
        transform: translateX(0%);  
    }
  
  }