.display {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.featured {
    border: 1px solid black;
    width: fit-content;
}

.events {
    padding: 40px 20px;
}

.events button {
    border: none;
}

h2 {
    display: flex;
    justify-content: center;
}

