
.testimonialsSection {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: nowrap; 
    gap: 20px; 
    padding: 40px 20px;
    overflow-x: auto; 
    scroll-behavior: smooth;

    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
}

.testimonialsSection:active,
.testimonialsSection:hover {
    cursor: grab; /* Show grab cursor on hover */
}

/* .testimonialsSection::-webkit-scrollbar-track {
    background: rgb(255, 0, 0); 
}

.testimonialsSection::-webkit-scrollbar-thumb {
    background: rgb(30, 255, 0); 
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5); 
} */

.testimonialCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    flex: 1 1 calc(33.33% - 20px); 
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    min-width: 300px; 
    max-width: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonialCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.testimonialText {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    margin-bottom: 12px;
}

.testimonialAuthor {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: right;
    color: #555;
}


