:root {
  background: linear-gradient(140deg, aliceblue, #d4d2c1);
  color: black;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: inherit; 
  color: black;
}


header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #92704c;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  color: white;
  font-size: 1.15rem;
  text-decoration: none;
}

.btn {
  background-color: #ff704d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  z-index: 2;
}

.events {
  padding: 50px;
  background-color: #f4f4f4;
}

.event-list {
  display: flex;
  gap: 20px;
}

.event-item {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #92704c;
  color: white;
  text-align: center;
  padding: 10px;
}

.check_box {    
  display: block;  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.check_box:checked {
  text-align: center;
  background-color: #4CAF50;
  color: rgb(0, 255, 34);
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.filter-container {
  text-align: center;
}

#seminar_list {
  display: flex;
  flex-wrap: wrap;
}

h1, h2, h3, p, a, button, input {
  font-family: 'Nunito', sans-serif;
}
button {
  /* background-color: blueviolet; */
  font-size: 1.05rem;
}

